# General OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump

# Temporary Files
*.bak
*.tmp
*.log
*~

# Editor Directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Project specific
/artifacts/
